$white: #ffffff;
$black: #000000;

$dark: #111111;
$bluegrey: #59728f;
$darkblue: #2f4158;
$blue: #0087cc;
$tomato: #ff6347;

$grey: grey;

$mobile-only: "(max-width: 767px)";
$tablet-only: "(max-width: 1279px)";
$tablet: "(min-width: 48rem)";
$desktop: "(min-width: 80rem)";
$retina: "(min-resolution: 144dpi), (-webkit-max-device-pixel-ratio: 2), (min-resolution: 1.5dppx)";